:root {
	--primery-text-color: #212121;
	--secondary-text-color: #757575;
	--main-white-color: #FFFFFF;
	--accent-color: #2196F3;
	--secondary-background-color: #2F303A;
	--team-background-color : #F5F4FA;
	--logo-main-color: #000000;
	--addrees-color: rgba(255, 255, 255, 0.6);
	--main-button-accent-color: #188CE8;
}

html{
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

body{
	color: var(--primery-text-color);
	background-color: var(--main-white-color);
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 0.03em;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
	color: inherit;
}

.link:hover,
.link:focus {
	color: var(--accent-color);
}

/* container */
.container{
	outline: 2px solid green;
}
/* header */
/* Top-line */

.logo{
	color: var(--accent-color);
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
	
}

.logo-header{
	color: var(--logo-main-color);
}

.logo .logo-header:hover,
.logo .logo-header:focus{
	color: var(--accent-color);
}

/* navigation */

.header-list {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
	
.header-address{
	color: var(--secondary-text-color);
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.14;
}

.current{
	color: var(--accent-color);
}

/* Headline */

.headline{
	background-color:var(--secondary-background-color);
}

.headline-title{
	color: var(--main-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.headline-button{
	color: var(--main-white-color);
	background-color: var(--accent-color);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	font-style: normal;
	cursor: pointer;
	letter-spacing: 0.06em;

	height: 50px;
	border-radius: 4px;
	padding: 10px 32px;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.headline-button:hover,
.headline-button:focus{
	background-color: var(--main-button-accent-color);
}



/* Features */

.features-title{
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.features-text{
	color: var(--secondary-text-color);
}


/* What do we do? */
.title{
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
}

/* Our team */
.team-section{
	background-color:var(--team-background-color);
}

.team-name{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

.team-position{
	color: var(--secondary-text-color);
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.team-card{
	background-color:var(--main-white-color);
	height: 368px;
	width: 270px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	}
/* footer */

.footer {
	background-color: var(--secondary-background-color);
}

.logo-footer{
	color: var(--main-white-color);
}

.logo-footer:hover,
.logo-footer:focus{
	color: var(--accent-color);
}

.address {
	font-style: normal;
	line-height: 1.71;
}

.address-footer {
	color: var(--main-white-color);
}
	
.mail-footer {
	color: var(--addrees-color);
}
	
.phone-footer {
	color: var(--addrees-color);
}

/* portfolio */


.portfolio-button{
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	font-style: normal;
	cursor: pointer;

	height: 38px;
	padding: 6px 22px;
	border: 0;
	border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus{
	color: var(--main-white-color);
	background-color: var(--accent-color);

	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* portfolio examples */

.portfolio-item{
	width: 370px;
	height: 404px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
}

.portfolio-work h3{
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	text-align: left;
}

.portfolio-work p{
	color: var(--secondary-text-color);
	font-size: 16px;
	line-height: 1.88;
	text-align: left;
}






